body
{
	background-image: url(../images/background.jpg);
	font-family: "標楷體";
}
#hea
{
	width: 60%;
	height: 100px;
}
.hea_tit
{
	display: inline;
	font-size: 20px;
	word-spacing: 25px;
	margin-right:30px;
    font-weight: bold;
}
.hea_tit:hover
{
	
}
.hea_whole
{
	
	text-align: right;
	margin-right:-350px;
	height: 100px; 
}
.logo
{
	display: inline;
	height: 100px;
	width: 100px;
	margin-bottom: -45px;
	margin-right: 150px;
}
a
{
	color:#787878;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}
a:hover
{
	color: #444444;
}
#sid
{
	display: inline-block;
	position: fixed;
	background-color: #5599FF;
	height: 430px;
	width: 270px;
	margin: 0px 0 0 -10px;
}
.asd_content
{
	font-size: 20px;
	color: #DDDDDD;
	width: 120px;
	margin-right: auto;	
    margin-left: auto;
    margin-left: 105px;
    height: 100px;
}
.asd_con
{
	margin-left: -34px;
}
.icon
{
	margin-left: 55px;
	margin-top: -15px;
	margin-bottom: 20px;
}
.social
{
display: inline-block;
margin: 8px 5px 0px 7px;
height:25px;
width:25px;
}
#myCanvas {
		display: block;
	}

	#button {
		font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
		position: absolute;
		font-size: 1.5em;
		text-transform: uppercase;
		padding: 7px 20px;
        left: 50%;
		width: 200px;
		margin-top: -800px;
		margin-left: -320px;
		top: 50%;
		border-radius: 10px;
		color: white;
		text-shadow: -1px -1px 1px rgba(0,0,0,0.8);
		border: 5px solid transparent;
		border-bottom-color: rgba(0,0,0,0.35);
		background: hsla(260, 100%, 50%, 1);
		cursor: pointer;
		animation: pulse 1s infinite alternate;
		transition: background 0.4s, border 0.2s, margin 0.2s;
		z-index: 80;
	}
	#button:hover {
		background: hsla(220, 100%, 60%, 1);
		margin-top: -1px;

		animation: none;
	}
	#button:active {
		border-bottom-width: 0;
		margin-top: 5px;
	}
	@keyframes pulse {
		0% {
			margin-top: 0px;
		}
		100% {
			margin-top: 6px; 
		} 
	}

a:hover img
{
	filter:alpha(Opacity=80);
    opacity: 0.8;
}
#content
{
  position: absolute;
  top: 108px;
  left: 4px;
  margin-left: 400px;
  margin-bottom: 50px;
  background-color: #FFFFFF;
  float: left;
  height: 4100px;
  width: 60%;
  outline:	#DCDCDC solid 1px;
}
#content1
{
  
  margin-left: 400px;
  margin-bottom: 50px;
  margin-top: -100px;
  background-color: #FFFFFF;
  float: left;
  height: 4103px;
  width: 60.5%;
  outline:	#DCDCDC solid 1px;
  z-index: 100;
}
#content2
{
  margin-left: 3px;
  margin-bottom: 50px;
  background-color: #FFFFFF;
  float: left;
  height: 4107px;
  width: 100%;
  outline:	#DCDCDC solid 1px;
  z-index: -50;
}
.tit
{
	font-weight: bold;
	font-size: 30px;
    margin: 35px 25px 25px 35px;
	padding:5px;
}
.tit_con1
{
 font-weight: bold;
 font-size: 20px;
 margin: 35px 25px -40px 35px;
 padding:5px;
 line-height: 40px;
}
.tit_con2
{
 font-size: 20px;
 margin: 35px 25px 25px 35px;
 padding:5px;
 line-height: 40px;
}
.sign
{
	float: right;
	height: 100px;
	width: 200px;
	margin-right: 20px;
    margin-bottom: -25px;
}
hr
{
	margin-top:85px;
	width: 90%;
	border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}
.box
{
	float: left;
	width: 350px;
	padding:5px;
	margin: 35px 25px 25px 35px;
}
.box2
{
	float: left;
	width: 700px;
	padding:5px;
	margin: 35px 25px 25px 35px;
}
.tit_s
{
    font-weight: bold;
	font-size: 30px;
	color:#AAAAAA;
}
.dtr
{
	font-size: 18px;
	display: inline-block;
	line-height: 45px;
	width: 150px;
	padding-right: 5px;
	margin-right: 0px;
}
.dtl
{
	font-size: 18px;
	line-height: 20px;
	width: 150px;
	padding-right: 5px;
	margin-right: 0px;
}
#doughnut,#doughnut2,#doughnut3,#doughnut4,#doughnut5,#doughnut6,#doughnut7,#doughnut8{
  position: absolute;
}
#skill1,#skill2,#skill3,#skill4,#skill5,#skill6,#skill7,#skill8{
  position: relative;
}
.char
{
	padding-left: 30px;
	display: inline-block;
}
.char2
{
	font-weight: bold;
	margin:25px 26px 25px 25px;
	padding-left: 31px;
	display: inline-block;
}
.char3
{
	font-weight: bold;
	margin:25px 50px 25px 25px;
	padding-left: 50px;
	display: inline-block;
}
.head
{
	height: 200px;
	width: 	200px;
	margin: 50px 0 0 35px;
}
/* ================ The Timeline ================ */

.timeline {
  position: relative;
  width: 660px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 1em 0;
  list-style-type: none;
}

.timeline:before {
  position: absolute;
  left: 50%;
  top: 0;
  content: ' ';
  display: block;
  width: 6px;
  height: 100%;
  margin-left: -3px;
  background: rgb(80,80,80);
  background: -moz-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,1)));
  background: -webkit-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -o-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -ms-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: linear-gradient(to bottom, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  
  z-index: 5;
}

.timeline li {
  padding: 1em 0;
}

.timeline li:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.direction-l {
  position: relative;
  width: 300px;
  float: left;
  text-align: right;
}

.direction-r {
  position: relative;
  width: 300px;
  float: right;
}

.flag-wrapper {
  position: relative;
  display: inline-block;
  
  text-align: center;
}

.flag {
  position: relative;
  display: inline;
  background: rgb(248,248,248);
  padding: 6px 10px;
  border-radius: 5px;
  
  font-weight: 600;
  text-align: left;
}

.direction-l .flag {
  -webkit-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.direction-r .flag {
  -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.direction-l .flag:before,
.direction-r .flag:before {
  position: absolute;
  top: 50%;
  right: -40px;
  content: ' ';
  display: block;
  width: 12px;
  height: 12px;
  margin-top: -10px;
  background: #fff;
  border-radius: 10px;
  border: 4px solid rgb(255,80,80);
  z-index: 10;
}

.direction-r .flag:before {
  left: -40px;
}

.direction-l .flag:after {
  content: "";
  position: absolute;
  left: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-left-color: rgb(248,248,248);
  border-width: 8px;
  pointer-events: none;
}

.direction-r .flag:after {
  content: "";
  position: absolute;
  right: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-right-color: rgb(248,248,248);
  border-width: 8px;
  pointer-events: none;
}

.time-wrapper {
  display: inline;
  
  line-height: 1em;
  font-size: 0.66666em;
  color: rgb(250,80,80);
  vertical-align: middle;
}

.direction-l .time-wrapper {
  float: left;
}

.direction-r .time-wrapper {
  float: right;
}

.time {
  display: inline-block;
  padding: 4px 6px;
  background: rgb(248,248,248);
}

.desc {
  margin: 1em 0.75em 0 0;
  
  font-size: 0.77777em;
  font-style: italic;
  line-height: 1.5em;
}

.direction-r .desc {
  margin: 1em 0 0 0.75em;
}

/* ================ Timeline Media Queries ================ */

@media screen and (max-width: 660px) {

.timeline {
 	width: 100%;
	padding: 4em 0 1em 0;
}

.timeline li {
	padding: 2em 0;
}

.direction-l,
.direction-r {
	float: none;
	width: 100%;

	text-align: center;
}

.flag-wrapper {
	text-align: center;
}

.flag {
	background: rgb(255,255,255);
	z-index: 15;
}

.direction-l .flag:before,
.direction-r .flag:before {
  position: absolute;
  top: -30px;
	left: 50%;
	content: ' ';
	display: block;
	width: 12px;
	height: 12px;
	margin-left: -9px;
	background: #fff;
	border-radius: 10px;
	border: 4px solid rgb(255,80,80);
	z-index: 10;
}

.direction-l .flag:after,
.direction-r .flag:after {
	content: "";
	position: absolute;
	left: 50%;
	top: -8px;
	height: 0;
	width: 0;
	margin-left: -8px;
	border: solid transparent;
	border-bottom-color: rgb(255,255,255);
	border-width: 8px;
	pointer-events: none;
}

.time-wrapper {
	display: block;
	position: relative;
	margin: 4px 0 0 0;
	z-index: 14;
}

.direction-l .time-wrapper {
	float: none;
}

.direction-r .time-wrapper {
	float: none;
}

.desc {
	position: relative;
	margin: 1em 0 0 0;
	padding: 1em;
	background: rgb(245,245,245);
	-webkit-box-shadow: 0 0 1px rgba(0,0,0,0.20);
	-moz-box-shadow: 0 0 1px rgba(0,0,0,0.20);
	box-shadow: 0 0 1px rgba(0,0,0,0.20);
	
  z-index: 15;
}

.direction-l .desc,
.direction-r .desc {
	position: relative;
	margin: 1em 1em 0 1em;
	padding: 1em;
	
  z-index: 15;
}

}

@media screen and (min-width: 400px ?? max-width: 660px) {

.direction-l .desc,
.direction-r .desc {
	margin: 1em 4em 0 4em;
}

}

#gotop {
    position:fixed;
    z-index:90;
    right:30px;
    bottom:31px;
    display:none;
    width:50px;
    height:50px;
    color:#fff;
    background:#33b5e5;
    line-height:50px;
    border-radius:50%;
    transition:all 0.5s;
    text-align: center;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
#gotop :hover{
    background:#0099CC;
}